
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}
.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}
.header {
    
  display: flex;
  align-items: center;
  justify-content: space-between;
   padding: 0 160px; 
  background: #fff;
  height: 88px;
  
}
.logo{
    width:96px;
    height: 32px;
    
}
.input-seach-container {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 56px;
  width:478px;
  padding: 8px 12px;
  background: #f5f5f5;
  border-radius: 8px;
  
}

.input-seach {
  
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  opacity: 0.5;
}
.menu {
  display: flex;
  gap: 52px;              
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
.icons {
  display: flex;
  gap: 24px;             
}

.icons i {
  font-size: 20px;
  cursor: pointer;
}


/* Sub menu */
.navbar {
  display: flex;
   justify-content: space-between;
  padding: 0 160px;
   height: 48px;
  background: #2E2E2E;
  color:#FFFFFF;
  font-weight: 400;
  
}
.navbar span {
  display: flex;
  align-items: center;
  gap: 8px;               
  font-size: 14px;
  cursor: pointer;
}
.navbar span{
  opacity: 0.5;
}
/* BANNER */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 160px;
  height: 632px;

  background: linear-gradient(135deg, #211C24, #211C24);
  color: #ffffff;
  overflow: hidden;
}
.banner-content {
  max-width: 480px;
}
.subtitle {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 16px;
}
.banner-content h1 {
  font-size: 56px;
  font-weight: 300;
  margin-bottom: 16px;
}

.banner-content h1 span {
  font-weight: 700;
}
.desc {
  font-size: 15px;
  color: #bbb;
  line-height: 1.6;
  margin-bottom: 32px;
}
.btn-banner{
  width:187px;
  height: 56px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color:#ffffff;
  cursor: pointer;
}
.btn-banner:hover {
  background: #fff;
  color: #000;
}
.banner-image img {
  width: 420px;
  object-fit: contain;
}




        /* CATEGORY */
.category {
  background: #fff;
  margin: 80px 160px 80px 160px  ;
}
.category-header{
  display: flex;
  justify-content: space-between;
  
}

.category-list {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}


.category-item {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#EDEDED;
  border-radius: 8px;
  width: 160px;
  height: 128px;
  color:#000000;
}

/* Main */
.main{
   width:1440px;
  height: 1000px;
}

.tabs{
  margin : 56px 160px 32px 160px;
}
.active{
  color:#000000;
  font-weight: 400;
  font-size: 18px;
}
.extra{
  color:#8B8B8B;
  font-weight: 400;
  font-size: 18px;
  padding-left: 32px;
}
/* product */
.product-list{
 
  display:flex;
  flex-wrap: wrap;
  gap:16px;
  margin:32px 160px 32px 160px;
}
.product-card {    
    width:268px;
    height: 432px;
    background: #F6F6F6;
    color:#000000;
    border-radius: 6px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.product-img {
    width: 160px;
    height: 160px;
    margin: 72px 54px  16px 54px ;
    object-fit: contain;
}
.heart {
    position: absolute;
    top: 24px;
    right: 16px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
}
.heart-red{
    position: absolute;
    top: 24px;
    right: 16px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
    color: red;
}
.title{
  align-items: center;
  margin:  0 16px 16px 16px ;
  margin-bottom: auto;
}
.price {
    margin-top: auto;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.btn {
    width: 193px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto auto 24px auto;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.tabs-sale{
  margin : 58px 160px 32px 160px;
}
/* BANNER 2 */
.banner2 {
  width: 100%;
  height: 448px;
  object-fit: cover;
  display: block;
}


/* Footer */
.footer {
  width: 100%;
  height: 464px;
  background: #000;
  color: #aaa;
  position: relative;
}

/* Container */
.footer-container {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0 160px;
  padding-top: 104px;
}

/* Cột 1 */
.footer-col1 p {
  line-height: 1.7;
  font-size: 14px;
  max-width: 384px;
}

/* Logo */
.logo2 {
  width: 96px;
  height: 32px;
  margin-bottom: 20px;
}

/* Tiêu đề */
.footer-col2 h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}

/* List */
.footer-col2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col2 ul li {
  margin-bottom: 12px;
}

.footer-col2 ul li a {
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col2 ul li a:hover {
  color: #a855f7;
}
/* Link mxh */
.social {
  position: absolute;
  bottom: 48px;
  left: 160px;
}

.social a {
  color: #fff;
  margin-right: 20px;
  font-size: 18px;
  transition: 0.3s;
}

.social a:hover {
  color: #a855f7;
}



